@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.process {
  padding-top: 150px;
  padding-left: 130px;
  padding-right: 69px;
  margin-bottom: 70px;
  @media (min-width: 1300px) {
    padding-top: 40px;
  }
  @include onMobile {
    padding-top: 20px;
    margin-top: -100px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  &-header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @include onMobile {
      margin-bottom: 30px;
    }
    &__title {
      font-family: "Medium Inter";
      font-style: normal;
      font-size: 48px;
      line-height: 150.52%;
      letter-spacing: 0.105em;
      text-transform: uppercase;
      color: $darken;
      @include onMobile {
        text-align: center;
        font-family: "Semi Inter";
        font-size: 24px;
      }
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    @media (max-width: 1400px) {
      gap: 25px;
    }
    @media (max-width: 1230px) {
      gap: 15px;
    }
    @include onMobile {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }
    &::-webkit-scrollbar {
      background: #dadada;
      border-radius: 100px;
      height: 12px;
    }
    &::-webkit-scrollbar-thumb {
      width: 65px;
      background: $quote-accent;
      border-radius: 100px;
    }
    &-wrapper {
      min-width: 437px;
      @media (max-width: 1300px) {
        min-width: 370px;
      }
      @media (max-width: 1230px) {
        min-width: 310px;
      }
      @include onMobile {
        min-width: 300px;
        margin-bottom: 60px;
      }
    }
    &-logo {
      margin-bottom: -4px;
      & > img {
        max-width: 380px;
        // border: 1px solid $scrollbar-reviews;
        border-bottom: none;
        @media (max-width: 1300px) {
          max-width: 330px;
        }
        @media (max-width: 1230px) {
          max-width: 300px;
        }
        @include onMobile {
          max-width: 300px;
        }
      }
      & > div svg {
        // border: 1px solid $scrollbar-reviews;
        border-bottom: none;
        width: 380px;
        height: 100%;
        @media (max-width: 1300px) {
          width: 330px;
        }
        @media (max-width: 1230px) {
          max-width: 300px;
        }
        @include onMobile {
          height: 100%;
          min-width: 280px;
        }
      }
    }

    &__outer {
      padding: 31px 26px;
      background: linear-gradient(180deg, #e2e1e1 0%, $primary 100%);
      border-radius: 0px 0px 50px 0px;
      width: 380px;
      margin: 0;
      // border: 1px solid $scrollbar-reviews;
      border-top: none;
      @media (max-width: 1300px) {
        width: 330px;
      }
      @media (max-width: 1230px) {
        width: 300px;
      }
      @include onMobile {
        padding-top: 25px;
        width: 300px;
      }
      &-desc1,
      &-desc2,
      &-desc3,
      &-desc4,
      &-desc5,
      &-desc6 {
        display: none;
      }
      &:hover {
        background: $scrollbar-reviews;
        height: 256px;
        transition: 2.2s;
        text-align: center;
        padding-bottom: 65px;
        @include onMobile {
          height: 200px;
        }
        & > p {
          background: linear-gradient(93.35deg, #ffda55 3.71%, #ffaa2c 98.84%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-weight: 800;
        }
        .process-list__outer-desc1,
        .process-list__outer-desc2,
        .process-list__outer-desc3,
        .process-list__outer-desc4,
        .process-list__outer-desc5,
        .process-list__outer-desc6 {
          display: block;
          text-align: center;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 140.02%;
          letter-spacing: 0.04em;
          color: $primary;
          @include onMobile {
            font-family: "Inter";
            font-weight: 400;
            font-size: 15px;
          }
        }
      }
      & > p {
        font-family: "Semi Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140.02%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $scrollbar-reviews;
        margin-bottom: 14px;
        @include onMobile {
          background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          font-size: 16px;
          line-height: 140.02%;
          margin-bottom: 7px;
        }
      }
    }
  }
}

.mob-process {
  overflow-x: auto;
  overflow-y: hidden;
  height: 450px;
  background-color: #ffffff;

  &::-webkit-scrollbar {
    // background: #dadada;
    // border-radius: 100px;
    // height: 12px;
    display: none;
  }
  // &::-webkit-scrollbar-thumb {
  //   width: 65px;
  //   background: $quote-accent;
  //   border-radius: 100px;
  // }
  &-list {
    display: flex;
    flex-direction: row;
    gap: 28px;
    &__item {
      min-width: 298px;
      height: 401px;
      display: flex;
      flex-direction: column;
      -webkit-box-shadow: 4px 6px 36px -11px rgba(184, 184, 184, 1);
      -moz-box-shadow: 4px 6px 36px -11px rgba(184, 184, 184, 1);
      box-shadow: 4px 6px 36px -11px rgba(184, 184, 184, 1);
      border-radius: 0px 0px 20px 20px;
      // border: 1px solid $scrollbar-reviews;
      border-top: none;
      & > div {
        & > img {
          width: 100%;
          object-fit: cover;
        }
      }
      &-content {
        margin-top: -4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 21px 12px 10px;
        background: linear-gradient(180deg, #e2e1e1 0%, #ffffff 100%);
        border-radius: 0px 0px 20px 20px;
        height: inherit;
        &__active {
          background: $scrollbar-reviews;
        }
        & > span {
          font-family: "Inter";
          font-style: normal;
          font-size: 15px;
          line-height: 140.02%;
          color: $scrollbar-reviews;
          text-align: center;
          letter-spacing: 0.04em;
        }
      }
      &-title {
        font-family: "Semi Inter";
        font-style: normal;
        font-size: 16px;
        line-height: 140.02%;
        text-align: center;
        text-transform: uppercase;
        // background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // text-fill-color: transparent;
        letter-spacing: 0.04;
        color: $blue-accent;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
        &__active {
          background: linear-gradient(93.35deg, #ffda55 3.71%, #ffaa2c 98.84%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
}

.mob-img-process {
  // border: 1px solid $scrollbar-reviews;
  border-bottom: none;
  & > img {
  }
}

#protect {
  width: 380px;
  object-fit: cover;
  max-height: 266px;
  @media (max-width: 1300px) {
    max-height: 229.66px;
  }
  @media (max-width: 1200px) {
    max-height: 209px;
  }
}

#protect-outer {
  min-height: 133px;
}
