@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.aboutus {
  padding-left: 68px;
  padding-right: 71px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-more {
    margin-bottom: 100px;
    @include onMobile {
      margin-bottom: 120px;
    }
  }
  @include onMobile {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    margin-bottom: 140px;
  }
  &-header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    &__title {
      font-family: "Medium Inter";
      font-style: normal;
      font-size: 48px;
      line-height: 150.52%;
      letter-spacing: 0.105em;
      text-transform: uppercase;
      color: $darken;
      @include onMobile {
        font-family: "Semi Inter";
        font-size: 24px;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: space-between !important;
    @media (min-width: 1600px) {
      gap: 100px;
    }
    @include onMobile {
      flex-direction: column-reverse;
    }
    &-desc {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-height: 580px;
      min-height: 315px;
      max-width: 715px;
      justify-content: space-between;
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150.52%;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
        & > a {
          color: $scrollbar-reviews;
          border: none;
          border-bottom: 1px solid $scrollbar-reviews;
        }
        @include onMobile {
          text-align: center;
          font-size: 15px;
        }
      }
      &-more {
        display: flex;
        justify-content: center;
        &__btn {
          border: none;
          background: none;
          border-bottom: 1px solid $faq-accent;
          cursor: pointer;
          &-txt {
            margin-left: -5px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 150.52%;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: $faq-accent;
            &:hover {
              transition: 0.3s;
              font-size: 25px;
              font-weight: 600;
            }
            @include onMobile {
              font-size: 15px;
              &:hover {
                font-size: 17px;
              }
            }
          }
        }
      }
    }
    &-moredesc {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 25px;
      min-height: 444px;
      max-height: 580px;
      max-width: 715px;
      @include onMobile {
        margin-bottom: 5px;
      }
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150.52%;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
        & > a {
          color: $scrollbar-reviews;
          border: none;
          border-bottom: 1px solid $scrollbar-reviews;
        }
        @include onMobile {
          text-align: center;
          font-size: 18px;
        }
      }
      &-more {
        display: flex;
        justify-content: center;

        &__btn {
          border: none;
          background: none;
          border-bottom: 1px solid $faq-accent;
          &-txt {
            margin-left: -5px;
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 300;
            font-size: 24px;
            line-height: 150.52%;
            display: flex;
            align-items: center;
            letter-spacing: 0.04em;
            color: $faq-accent;
            @include onMobile {
              font-weight: 300;
              font-size: 15px;
            }
          }
        }
      }
    }
    &-media {
      flex: 1;
      max-width: 600px;
      position: relative;
      @include onMobile {
        display: flex;
        justify-content: center;
      }
      &__mov {
        z-index: 0;
        max-width: 600px;
        height: 443px;
        object-fit: cover;
        border-radius: 50px;
        @media (min-width: 1440px) {
          max-width: 713px;
          min-width: 600px;
          max-height: 330px;
        }
        @include onMobile {
          max-width: 400px;
          height: 259px;
          border-radius: 20px;
        }

        &-title {
          position: absolute;
          z-index: 1;
          top: 40px;
          left: 40px;
          font-family: "Semi Montserrat";
          font-style: normal;
          font-size: 20px;
          line-height: 150.52%;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $primary;
          @include onMobile {
            text-align: center;
            left: 10%;
            top: 19px;
            font-size: 15px;
            white-space: nowrap;
          }
        }
      }
      &__play {
        z-index: 2;
        left: 0px;
        background: none;
        border: none;
        position: absolute;
        left: 30%;
        top: 25%;
        @media (min-width: 1440px) {
          top: 35%;
          left: 30%;
        }
        @include onMobile {
          left: 35%;
          top: 35%;
        }
        &-logo {
          mix-blend-mode: darken;
          @media (min-width: 1440px) {
            width: 100px;
          }
          @include onMobile {
            width: 100px;
          }
        }
      }
    }
  }
}
