@import "../../styles/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;700;800&family=Open+Sans:wght@600&display=swap");
@import "../../styles/vars.scss";

.reviews {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("../../assets/images/reviews/reviews-bckg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 153px;
  padding-top: 98px;
  padding-left: 194px;
  padding-right: 194px;
  min-height: 100vh;
  @include onMobile {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 66px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0.38)),
      url("../../assets/images/reviews/reviews-bckg-mob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
  }
  &-moblist {
    display: none;
    flex-direction: row;
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 345px;
    @include onMobile {
      display: flex;
      &::-webkit-scrollbar {
        background: $scrollbar-reviews;
        border-radius: 100px;
        height: 12px;
      }
      &::-webkit-scrollbar-thumb {
        max-width: 65px;
        background: linear-gradient(180deg, #e2e1e1 0%, $primary 100%);
        border-radius: 100px;
      }
    }
  }
  &-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    @include onMobile {
      display: none;
      overflow-x: scroll;
      overflow-y: hidden;
      max-width: 345px;
      &::-webkit-scrollbar {
        background: $scrollbar-reviews;
        border-radius: 100px;
        height: 12px;
      }
      &::-webkit-scrollbar-thumb {
        max-width: 65px;
        background: linear-gradient(180deg, #e2e1e1 0%, $primary 100%);
        border-radius: 100px;
      }
    }
    &__active {
      width: 466px;
      padding-left: 41px;
      padding-right: 50px;
      padding-top: 35px;
      background: $primary;
      box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      height: 419px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      @media (max-width: 1200px) {
        width: 366px;
        height: 340px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      @include onMobile {
        width: 345px;
        height: 290px;
      }

      &__stars {
        max-width: min-content;
        margin-bottom: 23px;
      }
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 135.52%;
        letter-spacing: 0.04em;
        color: $darken;
        margin-bottom: 35px;
      }
      &__name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140.68%;
        text-align: center;
        letter-spacing: 0.04em;
        background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
    &__item {
      height: 310px;
      padding: 33px 25px;
      background: $primary;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 343px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      @media (max-width: 1200px) {
        width: 283px;
        height: 230px;
      }
      @include onMobile {
        padding: 40px 10px;
        min-width: 345px;
        height: 290px;
        margin-bottom: 83px;
      }
      &__stars {
        max-width: min-content;
        margin-bottom: 16px;
      }
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140.02%;
        letter-spacing: 0.04em;
        color: $darken;
        margin-bottom: 22px;
      }
      &__name {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140.68%;
        text-align: center;
        letter-spacing: 0.04em;
        background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
      &-wrapper {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &-arrows {
    display: flex;
    flex-direction: row;
    gap: 580px;
    @include onMobile {
      display: none;
    }
    &-btn {
      background: none;
      border: none;
    }
  }
  &-feedback-block {
    width: 100%;
    display: flex;
    justify-content: center;
    &-btn {
      padding: 24px 33px 25px 32px;
      width: 250px;
      background: linear-gradient(93.35deg, #ffda55 3.71%, #ffaa2c 98.84%);
      box-shadow: 6px 7px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      border: none;
      &__txt {
        font-family: "Semi Inter";
        font-style: normal;
        font-size: 16px;
        line-height: 135.68%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: $reviews-accent;
        white-space: nowrap;
        @include onMobile {
          white-space: nowrap;
        }
      }
    }
  }
}

.wrapper-reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 84px;
  @include onMobile {
    margin-bottom: 64px;
  }
}
