@font-face {
  font-family: "Inter";
  src: local("Inter Regular"), url("../assets/fonts/Inter-Regular.woff");
}
@font-face {
  font-family: "Inter ExtraLight";
  src: local("Inter Regular"), url("../assets/fonts/Inter-ExtraLight.ttf");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), url("../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"),
    url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Semi Montserrat";
  src: local("Montserrat SemiBold"),
    url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Semi Inter";
  src: local("Inter SemiBold"), url("../assets/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "Medium Montserrat";
  src: local("Montserrat Medium"), url("../assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Light Montserrat";
  src: local("Montserrat Light"), url("../assets/fonts/Montserrat-Light.ttf");
}
