@import "./mixins.scss";
@import "./fonts.scss";
@import "./index.scss";

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
@media screen and (orientation: portrait) {
  body {
    overflow: hidden;
  }
}

@media screen and (orientation: landscape) {
  body {
    overflow: hidden;
  }
}
html {
  scroll-behavior: smooth;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

div {
  display: block;
}

body {
  margin: 0;
  overflow-x: hidden;
  line-height: 1;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.animated {
  @include onTablet {
    animation: none;
  }
}

svg {
  -webkit-font-smoothing: subpixel-antialiased;
}

.toaster {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
}

.inp-wrap {
  position: relative;
  width: 100%;
}
.error-msg {
  position: absolute;
  bottom: -18px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: red;
}
