$primary: #ffffff;
$quote-accent: #767676;
$scrollbar-reviews: #323232;
$reviews-accent: #31312f;
$linears-first: #ffdd66;
$linears-second: #ffb74a;
$darken: #000000;
$blue-accent: #00406e;
$faq-accent: #717070;
$contact-placeholder: #807f7f;
