@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
.mob-gallery {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 90px;
  @include onMobile {
    padding-bottom: 21px;
  }
  &::-webkit-scrollbar {
    padding-top: 100px;
    background: #dadada;
    border-radius: 100px;
    height: 12px;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    width: 65px;
    background: $quote-accent;
    border-radius: 100px;
  }
  @include onMobile {
    display: grid;
  }
  & > img {
    border: 1px solid $scrollbar-reviews;
    border-radius: 5px;
    object-fit: cover;
  }
}
