@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.image {
  &-wrapper {
    background-color: #fefefe;
    max-width: 545px;
    height: 545px;
    position: relative;
    &__close {
      position: absolute;
      top: -10px;
      right: -10px;
      border: none;
      border-radius: 50%;
      width: 40px;
      font-size: 24px;
      height: 40px;
      background-color: $primary;
      color: $scrollbar-reviews;
      display: flex;
      align-items: center;
      justify-content: center;
      @include onMobile {
        max-width: 35px;
        max-height: 35px;
      }
    }
    @include onMobile {
      margin-top: 50%;
      height: 300px;
      width: 325px;
    }
  }
  &-large {
    height: 545px;
    @include onMobile {
      height: 100%;
      width: 100%;
    }
  }
}

.control__prev {
  width: 29px;
  position: absolute;
  left: -10px;
  top: 45.5%;
  border-radius: 50%;
  background-color: $primary;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $scrollbar-reviews;
}

.control__next {
  width: 29px;
  position: absolute;
  right: -10px;
  top: 45.5%;
  border-radius: 50%;
  background-color: $primary;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $scrollbar-reviews;
}
