@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.page-gallery {
  min-height: 100vh;
  padding: 60px 67px 50px 70px;
  @include onMobile {
    min-height: 70vh;
    padding: 21px 15px 20px 15px;
  }
  &-wrapper {
    width: 100%;
    margin-bottom: 100px;
    @include onMobile {
      margin-top: -110px;
      margin-bottom: 80px;
    }
    &__title {
      font-family: "Semi Raleway";
      font-style: normal;
      font-size: 48px;
      line-height: 150.52%;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      color: $scrollbar-reviews;
      @include onMobile {
        font-size: 24px;
      }
    }
  }
  &-top {
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
    @include onMobile {
      margin-bottom: 50px;
    }
    &__home {
      font-family: "Inter";
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0.04em;
      color: $quote-accent;
      @include onMobile {
      }
    }
    &__line {
      width: 20px;
      border-bottom: 1px solid $quote-accent;
    }
    &__gallery {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.04em;
      color: $scrollbar-reviews;
    }
  }
  &-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 63px;
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      @include onMobile {
        gap: 20px;
      }
      &__title {
        font-family: "Medium Raleway";
        font-style: normal;
        font-size: 48px;
        line-height: 150.52%;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: $darken;
        @include onMobile {
          font-style: normal;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
      }
      &__sub {
        font-family: "Medium Montserrat";
        font-style: normal;
        font-size: 32px;
        line-height: 150.52%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @include onMobile {
          font-family: "Montserrat";
          font-size: 24px;
          text-align: center;
          font-weight: 700;
          letter-spacing: 0.04em;
          background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
    }
  }
}
.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 105px;
  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    &-slides {
      display: flex;
      flex-direction: row;
      gap: 30px;
    }
    &-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 30px;
      &__item {
        border: 1px solid $scrollbar-reviews;
        display: flex;
        & > img {
          width: 218px;
          height: 216px;
          @media (max-width: 1400px) {
            max-width: 150px;
            height: max-content;
            object-fit: cover;
          }
        }
      }
    }
  }
  &-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 637px;
    &__btn {
      background: none;
      border: none;
    }
  }
}
.carousel-img {
  width: 343px;
  height: 349px;
  border: 1px solid $scrollbar-reviews;
  object-fit: cover;
  animation: fade-in-keyframes 1s;
  @media (max-width: 1200px) {
    width: 310px;
    height: 313px;
  }
  &-active {
    width: 467px;
    height: 414px;
    border: 2px solid $scrollbar-reviews;
    object-fit: fill;
    @media (max-width: 1200px) {
      width: 430px;
      height: 380px;
    }
  }
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;
  & > p {
    font-family: "Medium Montserrat";
    font-style: normal;
    font-size: 14px;
    line-height: 150.52%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
  }
}
