@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";

.contact {
  background-image: url("../../assets/images/contact/map.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 85px;
  height: 75vh;
  padding-top: 150px;

  @media (max-width: 1440px) {
    height: 135vh;
    padding-top: 400px;
  }
  @media (max-width: 1100px) {
    height: 130vh;
    padding-top: 410px;
  }
  @include onMobile {
    padding-bottom: 10vh;
    height: 80vh;
    align-items: flex-end;
  }
  &-wrapper {
    position: relative;
    &-form {
      width: 460px;
      max-width: 547px;
      max-height: 551px;
      padding: 20px 26px 31px 26px;
      background: $primary;
      display: flex;
      align-items: center;
      flex-direction: column;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25),
        0px 47px 19px rgba(0, 0, 0, 0.01), 0px 27px 16px rgba(0, 0, 0, 0.04),
        0px 12px 12px rgba(0, 0, 0, 0.06), 0px 3px 7px rgba(0, 0, 0, 0.07),
        0px 0px 0px rgba(0, 0, 0, 0.07);
      border-radius: 50px;
      @media (max-width: 1200px) {
        padding: 30px 46px;
        max-width: 460px;
        max-height: 480px;
      }
      @include onMobile {
        width: 320px;
        padding: 40px 24px 27px 24px;
        border-radius: 20px;
      }
      &-header {
        margin-bottom: 31px;
        max-width: 327px;
        @include onMobile {
          max-width: 213px;
        }
        &__txt {
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: uppercase;
          color: $scrollbar-reviews;
          white-space: nowrap;
          @include onMobile {
            font-size: 20px;
            text-align: center;
            letter-spacing: 0.105em;
          }
        }
      }
      &-main {
        display: flex;
        gap: 0px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 31px;
        align-items: center;
        @media (max-width: 1200px) {
          gap: 10px;
        }
        @include onMobile {
          gap: 10px;
          margin-bottom: 10px;
        }
        &__item {
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          width: 300px;
          @media (max-width: 1200px) {
            gap: 10px;
          }
          @include onMobile {
            width: 220px;
          }
        }
        &__item:first-child {
          & > a {
            text-decoration: none;
            font-family: "Inter";
            font-style: normal;
            font-size: 18px;
            line-height: 151.9%;
            letter-spacing: 0.06em;
            font-feature-settings: "pnum" on, "lnum" on;
            color: $scrollbar-reviews;
            @include onMobile {
              font-size: 14px;
            }
          }
          & > img {
            @include onMobile {
              max-width: 29px;
            }
          }
        }
        &__item:nth-child(2) {
          & > a {
            text-decoration: none;
            font-family: "Inter";
            font-style: italic;
            font-size: 18px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: lowercase;
            color: $scrollbar-reviews;
            @include onMobile {
              font-size: 14px;
              line-height: 19px;
            }
          }
          & > img {
            @include onMobile {
              max-width: 29px;
            }
          }
        }
        &__item:last-child {
          & > a {
            text-decoration: none;
            font-family: "Inter";
            font-style: normal;
            font-size: 18px;
            line-height: 151.9%;
            letter-spacing: 0.06em;
            font-feature-settings: "pnum" on, "lnum" on;
            color: $scrollbar-reviews;
            @include onMobile {
              font-size: 16px;
              line-height: 24px;
            }
          }
          & > img {
            @include onMobile {
              max-width: 29px;
            }
          }
        }
      }
      &__footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        &-title {
          font-family: "Inter";
          font-style: italic;
          font-size: 24px;
          font-weight: 400;
          line-height: 39px;
          text-align: center;
          letter-spacing: 0.055em;
          text-transform: uppercase;
          background: linear-gradient(180deg, #065a97 0%, #012f50 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          @include onMobile {
            font-size: 16px;
            line-height: 19px;
          }
        }
        &-social {
          display: flex;
          flex-direction: row;
          gap: 30px;
          @include onMobile {
            gap: 20px;
          }
        }
      }
    }
  }
}
