@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;700;800&family=Open+Sans:wght@600&display=swap");

.foot {
  min-height: 317px;
  padding: 71px 73px 34px 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 2px -8px 21px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -8px 21px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -8px 21px -10px rgba(0, 0, 0, 0.75);
  @include onMobile {
    padding: 35px 16px;
    flex-direction: column;
  }
  &-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
    @media (max-width: 1300px) {
      gap: 140px;
    }
    @media (max-width: 1200px) {
      gap: 100px;
    }
    @include onMobile {
      gap: 27px;
      margin-bottom: 50px;
    }
    &-links {
      display: flex;
      flex-direction: row;
      gap: 58px;
      flex: 1;
      @media (max-width: 1300px) {
        gap: 30px;
      }
      @media (max-width: 1280px) {
        gap: 20px;
      }
      @include onMobile {
        flex-direction: column;
        gap: 15px;
      }
      &-first,
      &-second {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 35px;
        @include onMobile {
          gap: 15px;
        }
      }

      &__item {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        white-space: nowrap;
        cursor: pointer;
        & > a {
          color: $scrollbar-reviews;
        }
        &:hover {
          font-size: "Semi Raleway";
          color: $blue-accent;
          transition: 0.8s;
        }
        @include onMobile {
          font-weight: "Inter";
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.04em;
        }
      }
    }
    &-controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      // gap: 125px;
      flex: 2;
      @media (max-width: 1400px) {
        gap: 85px;
      }
      @media (max-width: 1280px) {
        gap: 35px;
      }
      @include onMobile {
        gap: 120px;
      }
      &-logo {
        display: flex;
        flex-direction: column;
        gap: 22px;
        align-items: center;
        & > img {
          @media (max-width: 1280px) {
            max-width: 200px;
          }
        }
        @include onMobile {
          display: none;
        }
        &__txt {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 135.68%;
          text-align: center;
          letter-spacing: 0.04em;
          color: $scrollbar-reviews;
          & > a {
            text-decoration: underline;
            color: $scrollbar-reviews;
          }
        }
      }
      &__btn-up {
        position: sticky;
        bottom: 20px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        left: 90%;
        border: none;
        @include onMobile {
          display: none;
        }
      }
      &-end {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-end;
        @include onMobile {
        }
        &-phone {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 8px;
          padding: 16px 34.5px 15px 33.5px;
          background: linear-gradient(180deg, #ffffff 0%, #e9e9e9 100%);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          border: none;
          & > img {
            min-width: 33px;
            @include onMobile {
              min-width: 24px;
            }
          }

          @include onMobile {
            padding: 10px 22.5px 9px 7.5px;
            border-radius: 12px;
          }

          & > a {
            text-decoration: none;
            font-family: "Medium Inter";
            font-style: italic;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.005em;
            text-transform: uppercase;
            color: $scrollbar-reviews;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            white-space: nowrap;
            @include onMobile {
              font-family: "Medium Inter";
              font-style: italic;
              font-size: 15px;
              line-height: 18px;
              letter-spacing: 0.005em;
              text-transform: uppercase;
              color: $scrollbar-reviews;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
            }
          }
        }
        &-quote {
          background: linear-gradient(93.35deg, #ffda55 3.71%, #ffaa2c 98.84%);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          border-radius: 20px;
          border: none;
          padding: 21px 25.5px 20px 25.5px;
          color: $scrollbar-reviews;

          &:hover {
            background: $blue-accent;
            color: $primary;
            transition: 0.4s;
          }
          @include onMobile {
            padding: 11px 9.5px;
            border-radius: 10px;
          }
          & > span {
            font-family: "Medium Inter";
            font-style: normal;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            white-space: nowrap;
            @include onMobile {
              font-size: 15px;
              line-height: 18px;
            }
          }
        }
        &__mail {
          font-family: "Medium Inter";
          font-style: normal;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.06em;
          text-transform: lowercase;
          color: $scrollbar-reviews;
          @include onMobile {
            font-size: 15px;
            line-height: 18px;
          }
        }
        &-socials {
          display: flex;
          align-items: baseline;
          flex-direction: row;
          gap: 30px;
          @include onMobile {
            gap: 15px;
            align-items: self-start;
          }
          & > a img {
            @include onMobile {
              width: 20px;
            }
          }
          & > img {
            @include onMobile {
              width: 20px;
            }
          }
        }
      }
    }
  }
  &__bora-mob {
    display: none;
    margin-bottom: 30px;
    @include onMobile {
      display: block;
    }
  }
  &__copyrights {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 135.68%;
    text-align: center;
    letter-spacing: 0.04em;
    color: $quote-accent;
    display: none;
    @include onMobile {
      display: block;
    }
    & > a {
      padding-bottom: 2px;
      text-decoration: underline;
      color: $quote-accent;
    }
  }
}
