@import "../../styles/mixins.scss";
@import "../../styles/vars.scss";
.benefits {
  padding: 100px 71px 96px 68px;
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include onMobile {
    padding: 0px 15px 30px;
  }
  &-header {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    @include onMobile {
      margin-bottom: 57px;
    }
    &__title {
      font-family: "Medium Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 150.52%;
      text-align: center;
      letter-spacing: 0.105em;
      text-transform: uppercase;
      color: $scrollbar-reviews;
      @include onMobile {
        font-family: "Semi Raleway";
        font-size: 24px;
        max-width: 345px;
      }
    }
  }
  &-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @include onMobile {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    &__item {
      padding: 15px 25px;
      border: 2px solid $scrollbar-reviews;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 467px;
      @include onMobile {
        border: none;
        padding-bottom: 6px;
        padding-left: 16px;
        padding-right: 21px;
        padding-top: 0px;
      }
      &-icon {
        margin-bottom: 15px;
        max-width: 71px;
        @include onMobile {
          margin-bottom: 10px;
          width: 51px;
        }
      }
      &-title {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150.52%;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $blue-accent;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        margin-bottom: 10px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
        @include onMobile {
          font-family: "Medium Montserrat";
          margin-bottom: 7px;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
          font-size: 16px;
        }
      }
      &-desc {
        font-family: "Montserrat";
        font-style: normal;
        font-size: 16px;
        line-height: 142%;
        text-align: center;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
        @include onMobile {
          font-size: 15px;
        }
      }
    }
  }
}
