@import "../../styles/mixins.scss";

.gallery {
  padding: 50px 83px 10px;
  @include onMobile {
    padding: 0px 15px 30px;
    margin-bottom: 20px;
  }
  &-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    @include onMobile {
      margin-bottom: 30px;
    }
    &__txt {
      font-family: "Medium Inter";
      font-style: normal;
      font-size: 48px;
      line-height: 150.52%;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #000000;
      @include onMobile {
        font-size: 24px;
        font-family: "Semi Inter";
      }
    }
  }
  &-mob {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    @include onMobile {
      display: flex;
      gap: 30px;
      margin-bottom: 15px;
    }
    &-desc {
      min-width: 345px;
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.52%;
        text-align: center;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
        @include onMobile {
          font-size: 15px;
          padding: 0px 20px;
        }
      }
    }
    &-logo {
      position: relative;
      &__image {
        max-width: 300px;
      }
      &__next {
        background: none;
        border: none;
        position: absolute;
        top: 40%;
        right: -50px;
      }
      &__prev {
        background: none;
        border: none;
        position: absolute;
        top: 40%;
        left: -50px;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 33px;
    margin-bottom: 70px;
    @media (min-width: 1500px) {
      gap: 90px;
      justify-content: center;
    }
    @include onMobile {
      display: none;
    }
    &-desc {
      width: 650px;

      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150.52%;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
      }
    }
    &-logos {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 35px;
      &-firstlogo {
        & > div svg {
          max-width: 342px;
          max-height: 273px;
          @media (max-width: 1500px) {
            max-width: 265px;
            max-height: 214px;
          }
          @media (max-width: 1200px) {
            max-width: 265px;
            max-height: 214px;
          }
        }
      }
      &-secondlogo {
        & > div svg {
          max-width: 342px;
          max-height: 273px;
          @media (max-width: 1500px) {
            max-width: 265px;
            max-height: 214px;
          }
          @media (max-width: 1200px) {
            max-width: 265px;
            max-height: 214px;
          }
        }
      }
      &-thirdlogo {
        & > div svg {
          max-width: max-content;
          max-height: 576px;
          @media (max-width: 1500px) {
            max-width: 370px;
            max-height: 493px;
          }
          @media (max-width: 1200px) {
            max-width: 370px;
            max-height: 493px;
          }
        }
      }
      &-first {
        display: flex;
        flex-direction: column;
        gap: 26px;
        @media (max-width: 1500px) {
          gap: 60px;
          width: 250px;
        }
        @media (max-width: 1200px) {
          gap: 60px;
          width: 250px;
        }
      }
      &-second {
        width: 300px;
        &__logo {
          border: 2px solid $scrollbar-reviews;
          max-width: 467px;
          height: 576px;
        }
      }
    }
    &-images {
      @include onMobile {
        display: none;
      }
      max-width: 600px;
      display: grid;

      grid-template-columns: repeat(2, 300px);
      grid-template-rows: repeat(2, 300px);
      row-gap: 20px;
      column-gap: 20px;
      & > img {
        max-width: 300px;
      }
    }
    &-wrapp {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &-pics {
        display: flex;
        flex-direction: row;
        gap: 20px;

        & > img {
          max-width: 300px;
          max-height: 300px;
        }
      }
    }
  }
  &-view {
    width: 100%;
    display: flex;
    justify-content: center;
    &-btn {
      border: none;
      background: none;
      border-bottom: 1px solid $scrollbar-reviews;
      &__txt {
        margin-left: -5px;
        font-family: "Medium Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 150.52%;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        color: $scrollbar-reviews;
        @include onMobile {
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
  }
}
