@import "../../styles/mixins.scss";

.gallery {
  padding: 100px 63px;
  &-title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    &__txt {
      font-family: "Raleway";
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 150.52%;
      text-align: center;
      letter-spacing: 0.105em;
      text-transform: uppercase;
      color: #000000;
      @include onMobile {
        font-size: 24px;
      }
    }
  }
  &-mob {
    display: none;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    @include onMobile {
      display: flex;
    }
    &-desc {
      min-width: 345px;
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150.52%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #323232;
      }
    }
    &-logo {
      &__image {
        border: 1px solid #323232;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 33px;
    margin-bottom: 70px;
    @include onMobile {
      display: none;
    }
    &-desc {
      max-width: 590px;
      &__txt {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150.52%;
        letter-spacing: 0.04em;
        color: #323232;
      }
    }
    &-logos {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 26px;
      &-first {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__logo {
          border: 2px solid #323232;
          max-width: 342px;
        }
      }
      &-second {
        &__logo {
          border: 2px solid #323232;
          max-width: 467px;
          height: 576px;
        }
      }
    }
  }
  &-view {
    width: 100%;
    display: flex;
    justify-content: center;
    &-btn {
      padding: 20px 32px;
      max-width: 300px;
      border: 1px solid #323232;
      border-radius: 20px;
      background: none;
      @include onMobile {
        min-width: 300px;
      }
      &__txt {
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 150.52%;
        text-align: center;
        letter-spacing: 0.105em;
        text-transform: uppercase;
        color: #323232;
      }
    }
  }
}
